<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Товары</title>
</head>
<body>
<div>
    <h3>Магазин товаров для сада</h3>
    <table>
        <tr>
            <td><p>Наименование</p></td>
            <td><p>Цена</p></td>
            <td><p>Количество товара в наличии</p></td>
            <td><p>Укажите необходимое количество товара</p></td>
        </tr>
        <form method="post" action="/purchase">
            {% csrf_token %}
            {% for p in products %}
                <tr>
                    <td>
                        <p>{{ p.name }}</p>
                    </td>
                    <td>
                        <p>{{ p.price }}</p>
                    </td>
                    <td>
                        <p>{{ p.quantity_on_stock }}</p>
                    </td>
                    <td>
                        <label>
                            <input type="number" max="{{ p.quantity_on_stock }}" name="quantity {{ p.id }}"/>
                        </label>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <p>Введите свое имя </p>
                </td>
                <td>
                    <label>
                        <input type="text" required="required" name="person"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Введите адрес доставки:</p>
                </td>
                <td>
                    <label>
                        <input type="text" required="required" name="address"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Отправить"/>
                </td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>
